/* BASE STYLES */
html {
  background-color: #404040;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
  margin: 0 20px;
}

.app-wrap {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 20px;
  color: #F2EFDC;
}

a {
  text-decoration: none;
}

a:link {
  color: #F2EFDC;
}

a:visited {
  color: #F24C27;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* LAYOUT STYLES */

.recent-pictures {
    position: absolute;
    padding: 100px 0 50px;
    left: 0;
    top: 0;
}
.recent-pictures h1 {
    color: #F2EFDC;
}
.recent-pictures li {
    color: #037E8C;
}

#main-h1 {
    border: 1px dashed #F24C27;
    background-color: #024959;
    padding: 12px 8px 14px;
    border-radius: 5px;
    position: fixed;
    color: #F2EFDC;
    right: 20px;
    top: 0;
}

#main-h1 h1 {
    margin-bottom: 0;
}

.picture-index {
  padding: 100px 0 50px;
}

.pic-wrap {
    background-color: #ccc;
    border-radius: 3px;
    padding: 10px 0 50px;
    margin-bottom: 10px;
}

.pic-wrap img {
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.pic-wrap img:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.new-picture {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  color: #F2EFDC;
  text-align: center;
  background-color: #024959;
  border-radius: 5px;
  border: 1px dashed #F24C27;
}

#title {
  font-size: 1.5rem;
  color: #F24C27;
  margin: 0 0 15px;
  text-align: center;
}

#artist-name {
  font-size: 1rem;
  color: #037E8C;
  opacity: 0.8;
}

hr {
  border: none;
  background-color: black;
  height: 1px;
  width: 30%;
  margin-bottom: 50px;
}
